name: Spam Ham Classifier

on:
  push:
    branches: [ "main" ]
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.11'
          enable-cache: true
          cache-dependency-glob: |
            **/pyproject.toml
            **/uv.lock
            **/*requirements*.txt

      - name: Install dependencies
        run: uv sync

      - name: Run Bandit scan
        run: bandit classifier.py